@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Estilo do header do site */
header {
    display: flex; /* Utiliza o modelo de layout flexbox para o header, alinhados ao espaço disponível */
    justify-content: space-between; /* Alinha os itens do header à esquerda e à direita */
    align-items: center; /* Alinha os itens do header verticalmente ao centro */
}

/* Estilo do corpo do site */
.corpo {
    background: #DCDCDC;
}

/* Define a partir de uma classe chamada Título o estilo do H1 */
.titulo {
    text-align: start;
    font-size: 26px;
    text-indent: 30px;
    font-family: "Roboto Mono", monospace;
}

/* Define a partir de uma classe chamada Informação1 o estilo do H2 */
.informacao1 {
    text-align: end;
    font-size: 26px;
    text-indent: 30px;
    font-family: "Roboto Mono", monospace;
    padding-right: 20px;
}