@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

header {
    display: flex; /* Utiliza o modelo de layout flexbox para o header, alinhados ao espaço disponível */
    justify-content: space-between; /* Alinha os itens do header à esquerda e à direita */
    align-items: center; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px; 
    min-height: 80vh; 
    padding: 40px;
}

.body {
    background: #DCDCDC;
}

.title1 {
    text-align: start; /* Alinha o texto à esquerda */
    font-size: 26px;
    text-indent: 30px;
    font-family: "Roboto Mono", monospace;
    padding-left: 20px;;
}


.title2 {
    text-align: end; /* Alinha o texto à direita */
    text-indent: 30px; /* Define um recuo de 30px para o texto */
    font-size: 26px;
    font-family: "Roboto Mono", monospace;
    padding-right: 20px; /* Adiciona um preenchimento à direita para criar um espaço entre o texto e a borda do header */
}

.title3 {
    font-size: 20px; 
    font-family: "Roboto Mono", monospace;
    text-align: center;
}

footer {
    background:#DCDCDC;
    
}


