<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contato</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="../Portfolio/css/style.css">
  <link rel="shortcut icon" href="../Portfolio/images/Icondrawer-Black-And-Blue-Address-Book.ico" type="image/x-icon"> 
</head>

  <body class="body1">   
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
    <div class="container-fluid justify-content-between align-items-center">
  <a class="navbar-brand">Simeon Gomes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
  <a class="nav-link active" aria-current="page" href="index.html">Página inicial</a>
    </li>
    <li class="nav-item">
  <a class="nav-link" href="curriculo.html">Currículo</a>
    </li>
    <li class="nav-item">
  <a class="nav-link" href="contato.html">Contato</a>
    </li>
  </ul>
  </div>
    </div>
  </nav>
</header>

<h3 class = "titulo2"> Contato </h3> <br>
<main class = "principal">
  <img src = "../public/images/contact-us.png" alt = "Contato">
<form>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input type="text" class="form-control" placeholder="Nome" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  <div id="emailHelp" class="form-text">Digite seu email aqui </div>
  </div>
  <div class="input-group">
    <span class="input-group-text">Deixe sua mensagem aqui (:</span>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div> <br>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</main>

<footer class="text-center bg-body-tertiary mt-5">
  <div class="container pt-4">
    <section class="mb-4"> 
    <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://www.linkedin.com/in/simeongomes?utm_source=share_via&utm_content=profile&utm_medium=member_android"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
    ></a>
    <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://github.com/Me0nMeon"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
    ></a>
     <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://open.spotify.com/user/31iawmsn3nayiccc556csotgspk4?si=4af2d8a8a897449c"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-spotify"></i
    ></a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2026 Copyright:
    <a class="text-body" href="https://github.com/Me0nMeon">GitHub</a>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>