<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simeon Gomes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="shortcut icon" href="../public/images/Icondrawer-Black-And-Blue-Address-Book.ico" type="image/x-icon"> 
</head>

  <body class="body">
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
    <div class="container-fluid justify-content-between align-items-center">
  <a class="navbar-brand">Simeon Gomes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
  <a class="nav-link active" aria-current="page" href="index.html">Página inicial</a>
    </li>
    <li class="nav-item">
  <a class="nav-link" href="curriculo.html">Currículo</a>
    </li>
    <li class="nav-item">
  <a class="nav-link" href="contato.html">Contato</a>
    </li>
  </ul>
  </div>
    </div>
  </nav>
</header>

<main> 
    <h1 class = "titulo1" > Portifólio </h1>
    <p class = "paragrafo1"> Olá, seja bem-vindo (a). Me chamo Simeon, tenho 19 anos e sou estudante de Desenvolvimento de Sistemas e graduando em Sistemas de Informação. Nascido e criado na Bahia, tenho me dedicado a aprender e evoluir na área de tecnologia, principalmente na área Web. Este portfólio reúne um pouco das minhas habilidades e formações, e reflete minha jornada até aqui. Sinta-se à vontade para explorar! </p>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
  <div class="card h-100">
    <img class = "sobremim card-img-top" src="../public/images/Tsuki.jpg" alt="Tsuki Icon">
  <div class="card-body">
    <h5 class="card-title">_Sobre mim: </h5>
    <p class="card-text">Me chamo Simeon, mas as pessoas também me chamam de Meon. Me considero uma pessoa bem fascinado por novas jornadas e caminhos. </p>
  </div>
  </div>
  </div>
  <div class="col">
  <div class="card h-100">
    <img src="../public/images/Gostos.jpg" class =" sobremim card-img-top" alt ="Gostos Icon">
  <div class="card-body">
    <h5 class="card-title">_Gostos</h5>
    <p class="card-text">Ver meus amigos; tirar fotos de paisagens e pessoas; meu PC e o meu quarto; ouvir música; comer sushi; ler mangá e assistir anime; ir ao cinema </p>
  </div>
  </div>
  </div>
  <div class="col">
  <div class="card h-100">
    <img src="../public/images/Objetivos.jpg" class=" sobremim card-img-top" alt="Objetivos Icon ">
  <div class="card-body">
    <h5 class="card-title"> _Objetivos</h5>
    <p class="card-text"> Ser capaz de transformar ideias em linhas de códigos (: </p>
  </div>
    </div>
  </div>
</div>
</main>

<footer class="text-center bg-body-tertiary mt-5">
  <div class="container pt-4">
    <section class="mb-4"> 
    <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://www.linkedin.com/in/simeongomes?utm_source=share_via&utm_content=profile&utm_medium=member_android"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
    ></a>
    <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://github.com/Me0nMeon"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
    ></a>
     <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://open.spotify.com/user/31iawmsn3nayiccc556csotgspk4?si=4af2d8a8a897449c"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-spotify"></i
    ></a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2026 Copyright:
    <a class="text-body" href="https://github.com/Me0nMeon">GitHub</a>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>