<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simeon Gomes</title>
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="shortcut icon" href="../assets/images/Icondrawer-Black-And-Blue-Address-Book.ico" type="image/x-icon"> 
</head>

<body class="body">

<header>
    <h1 class = "titulo1">Simeon Gomes </h1>
    <h2 class = "titulo2">Portifólio</h2>
</header>

<main> 
    <h3 class = "titulo3" >Olá, seja bem-vindo (a) (: </h3>
    <p class = "paragrafo1">Me chamo Simeon, tenho 19 anos e sou estudante de Desenvolvimento de Sistemas e graduando em Sistemas de Informação. Nascido e criado na Bahia, tenho me dedicado a aprender e evoluir na área de tecnologia. Este portfólio reúne um pouco do que já desenvolvi e reflete minha jornada até aqui. Sinta-se à vontade para explorar! </p>
   
    <nav>
        <a href = "curriculo.html" style = "text-decoration: none;" class = "curriculo"> Curriculo </a>
        <a href = "contato.html" style = "text-decoration: none;" class = "contato"  > Contato</a>
    </nav>
</main>

<footer> 
    <div id = "footer_content"> 

        <div id = "footer_contact">
            <h1 class = "contato"> Redes sociais </h1>
            <p class = "social"> Siga-me: </p>

             <div id = "footer_social_media">
            <a href = "https://www.linkedin.com/in/simeongomes/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BlecdoCCqRL2xEvFxJ0inxg%3D%3D" id = "linkedin"> 
                <i class="fa-brands fa-linkedin-in"></i>
            </a>

            <a href = "https://open.spotify.com/user/31iawmsn3nayiccc556csotgspk4?si=8f386eb9d9d74077" id = "spotify"> 
                <i class="fa-brands fa-spotify"></i>
            </a>
            </div>
        </div>
    </div>

    <div id = "footer_copyright">
        &#169 
        2026 all rights reserved 
    </div>

</footer>
</body>
</html>