@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.body {
    background: #DCDCDC;
}

header {
    display: flex; /* Deixa os elementos em uma linha só */ 
    justify-content: space-between; 
    padding: 20px;
}

.titulo1 {
    font-family: "Roboto Mono", monospace;
    font-size: 26px;
    text-align: center; 
    padding-top: 2px;
}

.paragrafo1 {
    margin-top: 40px; 
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
    text-align: center; 
    padding: 30px;
}

.titulo2 {
    font-family: "Roboto Mono", monospace;
    font-size: 26px;
    text-align: center;
    padding-top: 2px;
}

.container-paragrafo {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    padding: 30px;
    flex-direction: column;
    display: flex;
}

hr {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

.titulo3 {
    font-family: "Roboto Mono", monospace;
    font-size: 26px;
    padding: 30px;
}

img {
    width: 100%;
    max-width: 400px;
    padding: 30px;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
}

.sobremim {
    width: 50%;
}

.body1 {
    background: #DCDCDC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

